@charset "utf-8";body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,figure,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}abbr,acronym{border:0;}a{text-decoration:none;}html,button,input,select,textarea{color:#222;}
body{font-size:1em;line-height:1.4;}::-moz-selection{background:#b3d4fc;text-shadow:none;}
::selection{background:#b3d4fc;text-shadow:none;}hr{display:block;height:1px;border:0;border-top:1px solid #707070;margin:1em 0;padding:0;}
img{vertical-align:middle;}fieldset{border:0;margin:0;padding:0;}textarea{resize:vertical;}
.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0;}
.lt-ie9 footer, .lt-ie9 header, .lt-ie9 nav {margin-top:0; margin-bottom:0;}

/* =========================================
   Fonts
   ========================================= */




/* =========================================
   Main Style
   ========================================= */

body {
	font-family: 'PT Sans', 'Open Sans', sans-serif;
	font-size: 14px;
	color:#333;
	background:#f6f6f6;
}

a {
	color:#111;
	transition: color 0.5s ease, background 0.5s ease;
}

a:hover {
	color:#555;
	border-bottom: #555 1px dashed;
}

strong {font-weight:bold;}

em {font-style:italic;}

i {font-size:21px;}

.everything-but-footer {}

header {
	height:145px;
	width:100%;
	background: url('../img/bg-leaf-alfa10.png') left top repeat;
}

header h1 {
	width:265px;
	height:143px;
	display:block;
	margin:1px auto;
	background: url('../img/logo.png') left top no-repeat;
	color:transparent;
}

#body {}

.cbp-fwslider {
	position: relative;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}

.cbp-fwslider ul li img {
	border: none;
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 100px;
	background: rgba(214, 193, 147, 0.38);
	color: #fff;
	transition: color 0.3s ease, background 0.3s ease;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
}

.cbp-fwslider nav span:hover {
	background: rgba(214, 193, 147, 1);
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 0px;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 0px;
}

.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
}

.cbp-fwdots span {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: rgba(255, 255, 255, 0.47);
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
	transition: color 0.3s ease, background 0.3s ease;
}

.cbp-fwdots span:hover {
	background: #fff;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: rgba(214, 193, 147, 1);
	box-shadow: 0 0 0 2px rgba(214, 193, 147, 1);
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}

#dharamsala {
	width:100%;
	max-width:1024px;
	font-size:16px;
	margin:70px auto;
}

h2, h3 {
	font-size:24px;
	font-weight:700;
	text-align:center;
	margin-bottom:30px;
}

#dharamsala p {
	margin-bottom: 25px;
}

#contact-wrap {
	width:100%;
	background:url('../img/bg-leaf-alfa10.png') left top repeat;
	padding:70px 0;
}

#contact {
	width:100%;
	max-width:1024px;
	margin:0 auto;
}

#contact p {
	font-size:15px;
	text-align:center;
	padding-top:20px;
}

#gmaps {
        position: relative;
        height: 400px;
        overflow: hidden;
    }
#gmaps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 400px !important;
}

footer {
	background: #62422C;
	width:100%;
	height:50px;
	color:#d2d2d2;
}

#footer {
	width:100%;
	max-width:1024px;
	margin: 0 auto;
	padding-top:17px;
	line-height:14px;
}

#footer p {
	float:left;
}

#footer a {
	color: #efefef;
}

#footer a:hover {
	color: #fff;
	border-bottom: #fff 1px dotted;
}

ul.social {
	float:right;
}

ul.social li {
	float:left;
	margin-left:10px;
}

ul.social li:after {
	content:'|';
	padding-left: 10px;
}

ul.social li:last-child:after {
	content:none;
	padding:0;
}



/* =========================================
   Media Queries
   ========================================= */   


/* ----------- General ----------- */

@media only screen and (max-width: 1040px) {
	#dharamsala p {
		padding:0 10px;
		text-align: justify;
	}

	#footer p {
		margin-left:10px;
	}

	#footer nav {
		margin-right:10px;
	}
}
